<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" id="form_book">
        <input type="text" placeholder="Author" name="author" style= "margin-bottom: 10;"><br>
        <input type="text" placeholder="Nama" name="nama" style= "margin-bottom: 10;"><br>
        <input type="text" placeholder="Page Count" name="page_count" style= "margin-bottom: 10;"><br>
        <input type="text" placeholder="Publisher" name="publisher" style= "margin-bottom: 10;"><br>
        <input type="text" placeholder="Year" name="year" style= "margin-bottom: 10;"><br>
        <button type="submit">Add Book</button>
    </form>

    <table border="1" id="data" style="margin-top: 10px;">
    </table>

    <script>
        document.getElementById('form_book')
        .addEventListener('submit', async(e) => {
            e.preventDefault()
            const formData = new FormData(e.target)
            try {
                let response = await fetch('http://localhost:1002/book', {
                    method: POST,
                    headers: {
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify(Object.fromEntries(formData))
                })

                if(!response.ok){
                    throw new Error(`HTTP error ! Status: ${response.ststus}`)
                }

                const result = await response.json()
                console.log(result)
            } catch (error) {
                console.log(error)
            }
        })

        const getData = async() => {
            const response = await fetch('http://localhost:1002/book')
            const res = await response.json()
            const header = <tr>
                <th>${item.author}</th>
                <th>${item.nama}</th>
                <th>${item.page_count}</th>
                <th>${item.publisher}</th>
                <th>${item.ayear}</th>
                </tr>
                document.getElementById('data').innerHTML = header + data
            var data = ''
            res.data.forEach(item => {

            })
        }
    </script>
</body>
</html>